.jumbotron {
    background-image: url("img/background.jpg");
    background-size: cover;
    color: lightgrey;
    font-family: "Lucida Console", "Courier New", monospace;
  }

.lower-body-text {
    color:royalblue;
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 25px 10px 25px 10px;
}

.lower-body-color {
    background-color:lightgrey;
}